USE [master]
GO
/****** Object:  Database [KorobeynikovaPosuda]    Script Date: 21.01.2025 13:30:18 ******/
CREATE DATABASE [KorobeynikovaPosuda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KorobeynikovaPosuda', FILENAME = N'/var/opt/mssql/data/KorobeynikovaPosuda.mdf' , SIZE = 10944KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'KorobeynikovaPosuda_log', FILENAME = N'/var/opt/mssql/data/KorobeynikovaPosuda_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KorobeynikovaPosuda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KorobeynikovaPosuda]
GO
/****** Object:  User [alexm]    Script Date: 21.01.2025 13:30:18 ******/
CREATE USER [alexm] FOR LOGIN [alexm] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Clietn]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clietn](
	[id] [int] NOT NULL,
	[id_ type_client] [int] NULL,
	[name_client] [nvarchar](255) NULL,
	[directort_client] [nvarchar](255) NULL,
	[email_client] [nvarchar](255) NULL,
	[phone_client] [nvarchar](255) NULL,
	[index_client] [float] NULL,
	[adress_client] [nvarchar](255) NULL,
	[inn_client] [float] NULL,
	[rate_client] [float] NULL,
 CONSTRAINT [PK_Clietn] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavchik]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavchik](
	[id] [int] NOT NULL,
	[name_post] [nvarchar](255) NULL,
 CONSTRAINT [PK_Postavchik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[id] [int] NOT NULL,
	[name_proizvod] [nvarchar](255) NULL,
 CONSTRAINT [PK_Proizvod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Punkt]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Punkt](
	[id] [int] NOT NULL,
	[index_punkt] [float] NULL,
	[town_punkt] [nvarchar](255) NULL,
	[yl_punkt] [nvarchar](255) NULL,
	[dom_punkt] [float] NULL,
 CONSTRAINT [PK_Punkt] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleSotrudnik]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleSotrudnik](
	[id] [int] NOT NULL,
	[role_sotr] [nvarchar](255) NULL,
 CONSTRAINT [PK_RoleSotrudnik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sotrydnik]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sotrydnik](
	[id] [int] NOT NULL,
	[id_role_sotr] [int] NULL,
	[fio_sotr] [nvarchar](255) NULL,
	[login_sotr] [nvarchar](255) NULL,
	[pass_sotr] [nvarchar](255) NULL,
 CONSTRAINT [PK_Sotrydnik] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[id] [int] NOT NULL,
	[name_state] [nvarchar](255) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[articyl_tovar] [nvarchar](255) NOT NULL,
	[id_name_tovar] [int] NULL,
	[ediz_tovar] [nvarchar](255) NULL,
	[cost_tovar] [float] NULL,
	[max_sale_tovar] [float] NULL,
	[id_proizvod_tovar] [int] NULL,
	[id_poctavchik_tovar] [int] NULL,
	[id_kategiry_tovar] [int] NULL,
	[curent_sale_tovar] [float] NULL,
	[kolvo_tovar] [float] NULL,
	[deck_tovar] [nvarchar](255) NULL,
	[image_tovar] [nvarchar](255) NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[articyl_tovar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TovarCategory]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TovarCategory](
	[id] [int] NOT NULL,
	[kategory_tovar] [nvarchar](255) NULL,
 CONSTRAINT [PK_TovarCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TovarName]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TovarName](
	[id] [int] NOT NULL,
	[name_tovar] [nvarchar](255) NULL,
 CONSTRAINT [PK_TovarName] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeClient]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeClient](
	[id] [int] NOT NULL,
	[type_client] [nvarchar](255) NULL,
 CONSTRAINT [PK_TypeClient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz]    Script Date: 21.01.2025 13:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz](
	[id] [int] NOT NULL,
	[id_artic_zakaz] [nvarchar](255) NULL,
	[kolvo_tovar_in_zakaz] [float] NULL,
	[data_zakaz] [datetime] NULL,
	[data_dostav_zakaz] [datetime] NULL,
	[id_punkt_zakaz] [int] NULL,
	[id_name_client] [int] NULL,
	[kod_zakaz] [float] NULL,
	[id_state_zakaz] [int] NULL,
 CONSTRAINT [PK_Zakaz] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clietn] ([id], [id_ type_client], [name_client], [directort_client], [email_client], [phone_client], [index_client], [adress_client], [inn_client], [rate_client]) VALUES (1, 1, N'База Строитель', N'Иванова Александра Ивановна', N'aleksandraivanova@ml.ru', N'7 493 123 45 67', 652050, N'Кемеровская область, город Юрга, ул. Лесная, 15', 2222455179, 7)
INSERT [dbo].[Clietn] ([id], [id_ type_client], [name_client], [directort_client], [email_client], [phone_client], [index_client], [adress_client], [inn_client], [rate_client]) VALUES (2, 2, N'Паркет 29', N'Петров Василий Петрович', N'vppetrov@vl.ru', N'7 987 123 56 78', 164500, N'Архангельская область, город Северодвинск, ул. Строителей, 18', 3333888520, 7)
INSERT [dbo].[Clietn] ([id], [id_ type_client], [name_client], [directort_client], [email_client], [phone_client], [index_client], [adress_client], [inn_client], [rate_client]) VALUES (3, 3, N'Стройсервис', N'Соловьев Андрей Николаевич', N'ansolovev@st.ru', N'7 812 223 32 00', 188910, N'Ленинградская область, город Приморск, ул. Парковая, 21', 4440391035, 7)
GO
INSERT [dbo].[Postavchik] ([id], [name_post]) VALUES (1, N'Максидом')
INSERT [dbo].[Postavchik] ([id], [name_post]) VALUES (2, N'Домовой')
GO
INSERT [dbo].[Proizvod] ([id], [name_proizvod]) VALUES (1, N'Webber')
INSERT [dbo].[Proizvod] ([id], [name_proizvod]) VALUES (2, N'Luminarc')
INSERT [dbo].[Proizvod] ([id], [name_proizvod]) VALUES (3, N'Нева')
GO
INSERT [dbo].[Punkt] ([id], [index_punkt], [town_punkt], [yl_punkt], [dom_punkt]) VALUES (1, 344288, N' г. Краснокаменск', N' ул. Чехова', 1)
INSERT [dbo].[Punkt] ([id], [index_punkt], [town_punkt], [yl_punkt], [dom_punkt]) VALUES (2, 614164, N' г.Краснокаменск', N' ул. Степная', 30)
INSERT [dbo].[Punkt] ([id], [index_punkt], [town_punkt], [yl_punkt], [dom_punkt]) VALUES (3, 394242, N' г. Краснокаменск', N' ул. Коммунистическая', 43)
GO
INSERT [dbo].[RoleSotrudnik] ([id], [role_sotr]) VALUES (1, N'Администратор')
INSERT [dbo].[RoleSotrudnik] ([id], [role_sotr]) VALUES (2, N'Менеджер')
INSERT [dbo].[RoleSotrudnik] ([id], [role_sotr]) VALUES (3, N'Клиент')
GO
INSERT [dbo].[Sotrydnik] ([id], [id_role_sotr], [fio_sotr], [login_sotr], [pass_sotr]) VALUES (1, 1, N'Федоров Глеб Михайлович', N'o@outlook.com', N'2L6KZG')
INSERT [dbo].[Sotrydnik] ([id], [id_role_sotr], [fio_sotr], [login_sotr], [pass_sotr]) VALUES (2, 1, N'Семенова Софья Дмитриевна', N'hr6zdl@yandex.ru', N'uzWC67')
INSERT [dbo].[Sotrydnik] ([id], [id_role_sotr], [fio_sotr], [login_sotr], [pass_sotr]) VALUES (3, 1, N'Васильев Егор Германович', N'kaft93x@outlook.com', N'8ntwUp')
GO
INSERT [dbo].[Status] ([id], [name_state]) VALUES (1, N'Завершен')
INSERT [dbo].[Status] ([id], [name_state]) VALUES (2, N'Новый ')
GO
INSERT [dbo].[Tovar] ([articyl_tovar], [id_name_tovar], [ediz_tovar], [cost_tovar], [max_sale_tovar], [id_proizvod_tovar], [id_poctavchik_tovar], [id_kategiry_tovar], [curent_sale_tovar], [kolvo_tovar], [deck_tovar], [image_tovar]) VALUES (N'C367R6', 1, N'шт.', 3600, 15, 1, 1, 1, 3, 7, N'Webber BE-336/6 6 пр. серебристый', NULL)
INSERT [dbo].[Tovar] ([articyl_tovar], [id_name_tovar], [ediz_tovar], [cost_tovar], [max_sale_tovar], [id_proizvod_tovar], [id_poctavchik_tovar], [id_kategiry_tovar], [curent_sale_tovar], [kolvo_tovar], [deck_tovar], [image_tovar]) VALUES (N'C425F8', 6, N'шт.', 5990, 15, 3, 2, 4, 5, 9, N'Mason Cash Classic 12 предметов серый', NULL)
INSERT [dbo].[Tovar] ([articyl_tovar], [id_name_tovar], [ediz_tovar], [cost_tovar], [max_sale_tovar], [id_proizvod_tovar], [id_poctavchik_tovar], [id_kategiry_tovar], [curent_sale_tovar], [kolvo_tovar], [deck_tovar], [image_tovar]) VALUES (N'D026R4', 3, N'шт.', 1800, 25, 3, 2, 3, 4, 2, N'НЕВА МЕТАЛЛ ПОСУДА Карелия 2328, 28 см', NULL)
GO
INSERT [dbo].[TovarCategory] ([id], [kategory_tovar]) VALUES (1, N'Кастрюли')
INSERT [dbo].[TovarCategory] ([id], [kategory_tovar]) VALUES (2, N'Сервиз')
INSERT [dbo].[TovarCategory] ([id], [kategory_tovar]) VALUES (3, N'Сковорода')
GO
INSERT [dbo].[TovarName] ([id], [name_tovar]) VALUES (1, N'Набор кастрюль')
INSERT [dbo].[TovarName] ([id], [name_tovar]) VALUES (2, N'Столовый сервиз')
INSERT [dbo].[TovarName] ([id], [name_tovar]) VALUES (3, N'Сковорода')
GO
INSERT [dbo].[TypeClient] ([id], [type_client]) VALUES (1, N'ЗАО')
INSERT [dbo].[TypeClient] ([id], [type_client]) VALUES (2, N'ООО')
INSERT [dbo].[TypeClient] ([id], [type_client]) VALUES (3, N'ПАО')
GO
INSERT [dbo].[Zakaz] ([id], [id_artic_zakaz], [kolvo_tovar_in_zakaz], [data_zakaz], [data_dostav_zakaz], [id_punkt_zakaz], [id_name_client], [kod_zakaz], [id_state_zakaz]) VALUES (1, N'А112Т4', 2, CAST(N'2022-05-05T00:00:00.000' AS DateTime), CAST(N'2022-05-11T00:00:00.000' AS DateTime), 13, 1, 301, 1)
INSERT [dbo].[Zakaz] ([id], [id_artic_zakaz], [kolvo_tovar_in_zakaz], [data_zakaz], [data_dostav_zakaz], [id_punkt_zakaz], [id_name_client], [kod_zakaz], [id_state_zakaz]) VALUES (2, N'F735F5', 3, CAST(N'2022-05-05T00:00:00.000' AS DateTime), CAST(N'2022-05-11T00:00:00.000' AS DateTime), 12, 2, 302, 2)
INSERT [dbo].[Zakaz] ([id], [id_artic_zakaz], [kolvo_tovar_in_zakaz], [data_zakaz], [data_dostav_zakaz], [id_punkt_zakaz], [id_name_client], [kod_zakaz], [id_state_zakaz]) VALUES (3, N'H482Y6', 2, CAST(N'2022-05-06T00:00:00.000' AS DateTime), CAST(N'2022-05-12T00:00:00.000' AS DateTime), 13, 2, 303, 1)
GO
ALTER TABLE [dbo].[Clietn]  WITH CHECK ADD  CONSTRAINT [FK_Clietn_TypeClient] FOREIGN KEY([id_ type_client])
REFERENCES [dbo].[TypeClient] ([id])
GO
ALTER TABLE [dbo].[Clietn] CHECK CONSTRAINT [FK_Clietn_TypeClient]
GO
ALTER TABLE [dbo].[Sotrydnik]  WITH CHECK ADD  CONSTRAINT [FK_Sotrydnik_RoleSotrudnik] FOREIGN KEY([id_role_sotr])
REFERENCES [dbo].[RoleSotrudnik] ([id])
GO
ALTER TABLE [dbo].[Sotrydnik] CHECK CONSTRAINT [FK_Sotrydnik_RoleSotrudnik]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Postavchik] FOREIGN KEY([id_poctavchik_tovar])
REFERENCES [dbo].[Postavchik] ([id])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Postavchik]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Proizvod] FOREIGN KEY([id_proizvod_tovar])
REFERENCES [dbo].[Proizvod] ([id])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Proizvod]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_TovarCategory] FOREIGN KEY([id_kategiry_tovar])
REFERENCES [dbo].[TovarCategory] ([id])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_TovarCategory]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_TovarName] FOREIGN KEY([id_name_tovar])
REFERENCES [dbo].[TovarName] ([id])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_TovarName]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Clietn] FOREIGN KEY([id_name_client])
REFERENCES [dbo].[Clietn] ([id])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Clietn]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Punkt] FOREIGN KEY([id_punkt_zakaz])
REFERENCES [dbo].[Punkt] ([id])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Punkt]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Status] FOREIGN KEY([id_state_zakaz])
REFERENCES [dbo].[Status] ([id])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Status]
GO
ALTER TABLE [dbo].[Zakaz]  WITH CHECK ADD  CONSTRAINT [FK_Zakaz_Tovar] FOREIGN KEY([id_artic_zakaz])
REFERENCES [dbo].[Tovar] ([articyl_tovar])
GO
ALTER TABLE [dbo].[Zakaz] CHECK CONSTRAINT [FK_Zakaz_Tovar]
GO
USE [master]
GO
